a {
text-decoration: none;
}
.rengers {
  display: grid;
height: 15vh;
width: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  border: solid 1px black;
}
.color {
background: #99FF99;
}
.align {
margin-top: 50px;
margin-left: 100px;
font-size: 30px;
}
#f {
background-color: #9400d3;
text-align: center;
font-size: 32px;
}
