a {
text-decoration: none;
}
header {
height: 10vh;	
min-height: 30px;
max-height: 200px;
width: 100vw;
min-width: 70px;
max-width: 2000px;
}
#f {
color: Darkviolet;
text-align: center;
min-height: 15px;
max-height: 20px;
min-width: 400px;
max-width: 3000px;
font-size: 1.6em;
font-family: Noto Sans;
}
#nana {
margin-left: 10vw;
margin-right: 10vw;	
}
.rengers {
display: grid;
min-width: 70px;
max-width: 2000px;
min-height: 35px;
max-height: 1000px;
height: 13vh;
width: 15vw;
grid-template-rows: repeat(6, 1fr);
grid-template-columns: repeat(5, 1fr);
border: solid 1px black;
border-radius: 1em;
}
.color {
background: #99FF99;
}
.align {
margin-top: 6vh;
margin-left: 6vw;
font-size: 2em;
}
.write {
min-width: 10vw;
max-width: 3000px;
margin-top: 6vh;
margin-left: 3.5vw;
font-size: 1.7em;
}
